#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)
VERSION=$(shell head -n1 debian/changelog | perl -ne '/\((\S+)-\d+\)/; print $$1;' )

%:
	dh $@

override_dh_auto_install:
	if [ -d ./debian/$(PACKAGE)/usr/share/$(PACKAGE) ]; then \
	  rm -rf ./debian/$(PACKAGE)/usr/share/$(PACKAGE) ; \
	fi
	install -d ./debian/$(PACKAGE)/usr/share/$(PACKAGE)
	for FILE in CHANGES CITATION INSTALL \
	README README.tools README.tutorials README.windows SUPPORT TODO ; \
	  do install $${FILE} ./debian/$(PACKAGE)/usr/share/$(PACKAGE); \
	done;
	for DIR in bin error etc example fonts gddiag.png lib tiles data ; \
	  do cp -a $${DIR} ./debian/$(PACKAGE)/usr/share/$(PACKAGE); \
	done
	mkdir -p ./debian/$(PACKAGE)/usr/bin/
	ln -sf /usr/share/$(PACKAGE)/bin/circos ./debian/$(PACKAGE)/usr/bin/circos$(VERSION)
	ln -sf /usr/share/$(PACKAGE)/bin/gddiag ./debian/$(PACKAGE)/usr/bin/gddiag$(VERSION)
